main #result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 1.6rem;
}

main #result .card {
  background: var(--surface);
  border-radius: 0.4rem;
  padding: 1rem;
  width: 15rem;
  height: 10.5rem;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  text-align: left;
}

main #result .card .data-name {
  border-bottom: 0.1rem solid var(--mid-yellow);
  display: inline-block;
  color: var(--light-black);
  font-weight: 500;
}

main #result .card .data {
  font-size: 2.4rem;
  font-weight: 700;
  color: var(--mid-yellow);
}

main #result .loading {
  background: var(--surface);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  font-weight: 500;
  color: var(--light-black);
  box-shadow: var(--shadow);
}

main #result .loading .loader {
  border: 1.4rem solid var(--light-black);
  border-top: 1.4rem solid var(--mid-yellow);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 1.5s linear infinite;
}

main #result .bad-response {
  background: var(--surface);
  border-radius: 0.4rem;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: var(--light-black);
  box-shadow: var(--shadow);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
