* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

:root {
  --bg: #fafafa;
  --surface: #fff;
  --light-black: #252424de;
  --greyish-black: #11111199;
  --mid-yellow: #ffa611;
  --orange: #f5820d;
  --light-yellow: #ffcb2b;
  --shadow: 0px 2px 4px 0px #00000040;
  --shadow-md: 0px 4px 4px 2px #00000040;
  --warning-light: #fce8e6;
  --warning: #d53835;
  background-image: url('/assets/images/bg.svg');
  /* background by SVGBackgrounds.com */
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

body,
input,
button,
a {
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  color: var(--light-black);
}

body {
  width: 100%;
}

.container {
  width: 90vw;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

main {
  display: flex;
  flex-direction: column;
}
